# This pylintrc file will use the default settings except for the differently set values
[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # Missing class docstring
    R0913, # Too many arguments
    R0917, # Too many positional arguments
    R0914, # Too many local variables

[BASIC]
# only match correct module names
module-naming-style=PascalCase
class-naming-style=PascalCase
function-rgx=[a-z_][a-zA-Z0-9_]*$
method-rgx=[a-z_][a-zA-Z0-9_]*$

[FORMAT]
max-line-length=140